body {
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
  }

/* --- En Adopción y Perdidos --- */

.animales-seccion {
    margin: 30px auto;
    padding: 10px;
}
.animales-titulo {
    text-align: center;
    margin: 20px auto;
    color: #6C4F3D;
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.fa-paw  {
    color:#EFD850;
    margin: 0px 2%;
}
.animales-contenedor {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tarjeta {
    margin: 15px;
    background-color: #ED9B00;
    border-radius: 10px;
    padding: 25px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.foto img {
    border: solid 2px #fff;
    border-radius: 5px;
    width: 210px;
    height: 220px;
    object-fit: cover;
}
.nombre {
    color: #fff;
    margin: 15px auto 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;   
    text-align: center;
}
.telefono {
    margin: 2px auto;
    color: #fff;
    text-align: center;
}

/* --- Footer --- */

.footer-contenedor {
    margin: 0;
    padding: 15px 0px;
    background-color: #EFD850;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer-contenedor p {
    margin: 20px auto;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.redes-sociales {
    width: 100%;
    color: #ED9B00;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.redes-sociales div{
    font-size: 2.3rem;
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #fff;
    transition: border-color 0.3s ease;
}
.redes-sociales div:hover {
  border: 3px solid #ED9B00;
}
.copyright {
    margin: 10px auto;
    color: #c78508;
    font-size: 0.8rem;
    font-weight: 500;
}


/* --- Contacto --- */

.form-contenedor {
    margin: 3% auto;
    padding: 3%;
    width: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.form-contenedor label {
    display: block;
    margin: 2% 10%;
    color: #6C4F3D;
}
.contacto-input {
    width: 80%;
    align-self: center;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ED9B00;
    border-radius: 5px;
    height: 30px;
    outline: none;
}
.contacto-input:focus {
    border: 3px solid #ED9B00;
    outline: none;
}
.contacto-textarea {
    width: 80%;
    align-self: center;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ED9B00;
    border-radius: 5px;
    height: 120px;
    outline: none;
}
.contacto-textarea:focus {
    border: 3px solid #ED9B00;
    outline: none;
}
.boton-contenedor {
    display: flex;
    justify-content: center;
}
.btn {
    background: #EFD850;
    background-image: -webkit-linear-gradient(top, #EFD850, #ED9B00);
    background-image: -moz-linear-gradient(top, #EFD850, #ED9B00);
    background-image: -ms-linear-gradient(top, #EFD850, #ED9B00);
    background-image: -o-linear-gradient(top, #EFD850, #ED9B00);
    background-image: linear-gradient(to bottom, #EFD850, #ED9B00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 25px 12px 25px;
    text-decoration: none;
    outline: none;
    border: none;
} 
.btn:hover {
    background: #ED9B00;
    text-decoration: none;
}

